<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Log In</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
        <link th:href="@{/assets/css/signin.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="alert alert-danger" th:if="${param.error}">Invalid code. Please try again.</div>
            <div class="card card-container">
                <form class="form-signin" method="post" th:action="@{/authenticator}">
                    <label for="code" class="sr-only">Authenticator code</label>
                    <input id="code" type="text" name="code" class="form-control" placeholder="Authenticator code" required autofocus>
                    <button id="submit-button" type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Submit</button>
                </form>
            </div>
        </div>
        <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="/assets/js/signin.js" th:src="@{/assets/js/signin.js}"></script>
    </body>
</html>